# Created by .ignore support plugin (hsz.mobi)
.idea/
.vscode/
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.xls
**/__pycache__/
*.pyc

**/.ipynb_checkpoints/
**/.DS_Store
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


python/JupyterNotebook/test.png
javaBlog/.DS_Store
